*~
*.log
*.aux
*.toc
.deps
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
.dirstamp
*.o
Makefile
leas
leas.exe
test-driver