bal
bal.exe
*.btar
*~
1.scm
*.log
*.aux
*.toc
announce.org
.deps
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
.dirstamp
*.o
Makefile
leas
leas.exe
test-driver